name: ImageBuilder
# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  build:
    name: Retrieve Secrets from Vault
    runs-on: self-hosted
    steps:
        - name: Checkout repository
          uses: actions/checkout@v3 

        - name: Import Secrets
          uses: hashicorp/vault-action@v2
          with:
            url: http://127.0.0.1:8200
            tlsSkipVerify: true
            token: \${{ secrets.VAULT_TOKEN }}
            secrets: |
              secret/data/ci app_secret
